@model podsticarijum_backend.Application.DTO.FaqDto;

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<h4>Frequently asked questions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="@Model.Question" class="control-label"></label>
                <input asp-for="@Model.Question" class="form-control" />
                <span asp-validation-for="@Model.Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Answer" class="control-label"></label>
                <input asp-for="@Model.Answer" class="form-control" />
                <span asp-validation-for="@Model.Answer" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
