@model List<podsticarijum_backend.Application.DTO.CategoryFullDto>;

@{
    ViewData["Title"] = "Category Index";
}

<h1>Subcategory</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].NavMenuText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].SubCategories[0].MainNavMenuText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].SubCategories[0].MainText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].SubCategories[0].AdditionalText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].SubCategories[0].CheckMoreButtonText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].SubCategories[0].CheckMorePageTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].SubCategories[0].CheckMoreButtonText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].SubCategories[0].DevelopmentSupportingActivitiesButtonText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].SubCategories[0].AtypicalDevelopmentSignsText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            foreach (var subCategory in category.SubCategories)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => subCategory.CategoryDto.NavMenuText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => subCategory.MainNavMenuText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => subCategory.MainNavMenuText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => subCategory.AdditionalText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => subCategory.CheckMoreButtonText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => subCategory.CheckMorePageTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => subCategory.CheckMorePageText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => subCategory.DevelopmentSupportingActivitiesButtonText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => subCategory.AtypicalDevelopmentSignsText)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@subCategory.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@subCategory.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
