@model podsticarijum_backend.Api.Viewmodels.ExpertViewModel;

@{
    ViewData["Title"] = "Content Create";
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

<br />

<div class="row">
    <div class="col-md-6 offset-2">
        <h4>Create an expert</h4>
        <br />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">SubCategory</label>
                <select class="form-control" asp-for="@Model.SubCategoryId"
                        asp-items="@Model.SubCategoryList">
                </select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="@Model.FirstName" class="control-label"></label>
                <input asp-for="@Model.FirstName" class="form-control" />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="@Model.LastName" class="control-label"></label>
                <input asp-for="@Model.LastName" class="form-control" />
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="@Model.Email" class="control-label"></label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="@Model.Description" class="control-label"></label>
                <textarea rows="8" asp-for="@Model.Description" class="form-control"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-lg" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}