@model podsticarijum_backend.Application.DTO.ExpertDto;

@{
    ViewData["Title"] = "Delete";
}

<a asp-action="Index">Back to List</a>
<br>

<h4>Delete an expert</h4>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.Raw($"{@Model.SubCategoryDto!.MainNavMenuText} [{Model.SubCategoryDto!.CategoryDto!.NavMenuText}]"
            )
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCategoryDto!.MainNavMenuText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
